img{
	width: 50%;
}

.section1{
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: pink;
	margin-bottom: 50px;
}

.section2{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

.section2 p{
		font-size: 20px;
}